* {
  box-sizing: border-box;
}


body {
	margin: 0;
	padding: 100px;
}


nav {
	position: absolute;
	right: 20px;
	top: 5px;
}


nav ul {
  	display: inline-block;
 	list-style: none;
}


nav li {
  	display: inline-block;
  	font-size: 24px;
	
}


nav li::after {
  content: " ";
  margin-left: 10px;
}


nav a:hover {
  color: black;
}


#header {
	background-color: #eeeeee;
	border-bottom: thin solid #4B4B4B;
	position: fixed;
	display: inline-block;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px
}


#container1 {
	max-width: inherit;	
}


#container2 {
	max-width: inherit;	
}


#container3 {
	max-width: inherit;	
}


#footer {
	
}


#wrapper {
	max-width: 940px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}


.search-img {
	width: 25px;
	vertical-align: inherit;
}


.list { 
	padding-top: 10px;
	list-style: none;
	margin-bottom: 15px;
	line-height: 40px;
	margin-left: 0px;
}


.logo {
	font-size: 24px;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif
	display: inline-block;
	font-weight: bold;
}


.navigation {
	position: absolute;
	top: 0;
	right: 30px;
	font-size: 30px;
}


.prev, .next, .pages {
	border: 1px solid #eeeeee;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	border-radius: 5px;
}


.results {
	padd-top: 50px;
}


.search {
	height: 50px;
	vertical-align: middle;
}

















.span {
	font-weight: bold;
	font-color: blue;
}

.grey {
	font-color
}


