header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	background-color: orange;
	margin-bottom: 40px;
}

header .logo {

}

header h1 {
	font-size: 24px;
	font-weight: bold;
}


header h2 {
	font-size: 14px;
	padding: 10px;
}

body {
	font-family: "Roboto", sans-serif;
	color: #252525;
}

p {
	font-size: 12px;
	padding: 10px;
}

.card {
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
}


.card-pic {
	width: 100%;
}


.card h2 {
	padding-left: 10px;
	padding-top: 10px;
	font-size: 18px;
}

.card p {
	padding-left: 10px;
	padding-top: 0px;
	font-size: 14px;
}





